<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allie.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,13},{62,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{62,18}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>allieUnder.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{62,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,9}}</string>
                <key>sourceSize</key>
                <string>{62,9}</string>
            </dict>
            <key>battletitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,64},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>borderCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,44},{115,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,111}}</string>
                <key>sourceSize</key>
                <string>{115,111}</string>
            </dict>
            <key>borderTopLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>border_bottom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,236},{500,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,11}}</string>
                <key>sourceSize</key>
                <string>{500,11}</string>
            </dict>
            <key>border_bottom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,155},{300,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,45}}</string>
                <key>sourceSize</key>
                <string>{300,45}</string>
            </dict>
            <key>border_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,236},{13,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,456}}</string>
                <key>sourceSize</key>
                <string>{13,456}</string>
            </dict>
            <key>border_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{524,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,9}}</string>
                <key>sourceSize</key>
                <string>{524,9}</string>
            </dict>
            <key>buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,236},{52,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{52,16}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,13},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{58,22}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>buyhhouse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,13},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>buyhouse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>collection1.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,13},{62,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{62,18}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>collection2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,13},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{68,24}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>factorytitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,13},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fleetCountLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,236},{61,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,12}}</string>
                <key>sourceSize</key>
                <string>{61,12}</string>
            </dict>
            <key>furniture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,13},{62,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{62,18}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>furniture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,13},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{68,24}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,44},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,236},{18,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,236},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,236},{18,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>icondt.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,13},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>iconfr.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,236},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>kantaiHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,236},{110,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,14}}</string>
                <key>sourceSize</key>
                <string>{110,14}</string>
            </dict>
            <key>left_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,44},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>mission1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,13},{64,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{64,18}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>mission2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>mission3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,13},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{70,24}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>organizetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,13},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>porttitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,33},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>record1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,13},{62,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{62,18}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>record2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,13},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{68,24}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>remodeltitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,33},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>repairtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,37},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>shader.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,39},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>shipCountLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{61,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,12}}</string>
                <key>sourceSize</key>
                <string>{61,12}</string>
            </dict>
            <key>supplytitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,39},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>titleBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,164},{800,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,70}}</string>
                <key>sourceSize</key>
                <string>{800,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>portmain.pvr.ccz</string>
            <key>size</key>
            <string>{1365,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e09633af83757aa292725d92bae923ae:1/1$</string>
            <key>textureFileName</key>
            <string>portmain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
