<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>battleButton10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1889},{90,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,74}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>battleButton11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1299},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>battleButton12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{172,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,133}}</string>
                <key>sourceSize</key>
                <string>{172,133}</string>
            </dict>
            <key>battleButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{116,56}</string>
            </dict>
            <key>battleButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,645},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{116,56}</string>
            </dict>
            <key>battleButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1678},{209,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,104}}</string>
                <key>sourceSize</key>
                <string>{209,104}</string>
            </dict>
            <key>battleButton5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>battleButton6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,361},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{116,56}</string>
            </dict>
            <key>battleButton7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,243},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{116,56}</string>
            </dict>
            <key>battleButton8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>battleButton9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{143,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,63}}</string>
                <key>sourceSize</key>
                <string>{143,63}</string>
            </dict>
            <key>battleButtonGo.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,834},{95,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,79}}</string>
                <key>sourceSize</key>
                <string>{95,79}</string>
            </dict>
            <key>battleButtonShip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{143,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,63}}</string>
                <key>sourceSize</key>
                <string>{143,63}</string>
            </dict>
            <key>factoryButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1203},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>factoryButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1107},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>factoryButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1965},{66,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>factoryButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1467},{209,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,104}}</string>
                <key>sourceSize</key>
                <string>{209,104}</string>
            </dict>
            <key>organizeButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1870},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>organizeButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1775},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>organizeButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1965},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>organizeButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{209,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,104}}</string>
                <key>sourceSize</key>
                <string>{209,104}</string>
            </dict>
            <key>remodeButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1680},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>remodeButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1585},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>remodeButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,763},{69,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>remodeButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{219,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,104}}</string>
                <key>sourceSize</key>
                <string>{219,104}</string>
            </dict>
            <key>repairButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1011},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>repairButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,915},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>repairButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,562},{61,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,81}}</string>
                <key>sourceSize</key>
                <string>{61,81}</string>
            </dict>
            <key>repairButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{209,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,104}}</string>
                <key>sourceSize</key>
                <string>{209,104}</string>
            </dict>
            <key>supplyButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1490},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>supplyButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1395},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>supplyButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,479},{61,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,81}}</string>
                <key>sourceSize</key>
                <string>{61,81}</string>
            </dict>
            <key>supplyButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>portMainLayer.pvr.ccz</string>
            <key>size</key>
            <string>{205,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2474b4c7b5cfdeb127260cddd5ace401:1/1$</string>
            <key>textureFileName</key>
            <string>portMainLayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
